<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ path }}</title>
</head>
<body>
<h1>{{ path }}</h1>
<hr>
<table>
    {% if parent_path %}
    <tr>
        <td>
            <a href="{{ url_for('show', path=parent_path) }}">../</a>
        </td>
    </tr>
    {% endif %}
    {% for entry in entries %}
    <tr>
        <td>
            <a href="{{ url_for('show', path=entry.relpath) }}">{{ entry.name|truncate(50, True) }}</a>
        </td>
        <td>{{ "%s - %s"|format(entry.mtime, entry.size) }}</td>
        <td><a href="{{ url_for('delete', path=entry.relpath) }}">Delete</a></td>
    </tr>
    {% endfor %}
</table>
<hr>
</body>
</html>